@media only screen and (min-width: 240px) {
    body {
        margin-left: 0.7em;
    }
}
@media only screen and (min-width: 400px) {
    body {
        margin-left: 1.3em;
    }
}

body {
    font-family: averia-libre, sans-serif;
}

h2 {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

ul#song-list {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

#sig { font-size: x-small; font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace; }

.message { margin-left: 21px; margin-bottom: 10px; }
.marker { margin-right: 6px; }
.now-playing { border-left: 3px solid limegreen; margin-right: 3px; }
.paused { border-left: 3px solid orange; margin-right: 3px; }
.hidden { display: none; }
.transparent { color: transparent; }
